#navbarRight {
    display: flex;
    flex-direction: row;
    list-style: none;
    position: absolute; right: 0;
}

#Aboutlink, #Portfoliolink, #Contactlink {
    padding-right: 20px;
    padding-left: 20px;
    float: right;
}

.bg-light {
    background:white;
}
.navbar-brand {
    color: white !important;
    background-color: turquoise;
    padding-left: 20px;
    padding-right: 20px;
}

.col-md-4 img {
    float: left;
    clear: left;
    margin: 10px;
    border-style: solid;
    border-width: 5px;
}
.col-md-4 {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    margin: auto 0;
}